<app-build-update></app-build-update>
<app-github-corner></app-github-corner>
<app-navbar></app-navbar>

<div class="container">
  <router-outlet></router-outlet>
  <div class="row mt-5">
    <div class="card-body text-center">
      <p>
        sql2object is a useful tool for quickly creating ojects from your SQL data (result set) or scripts.
      </p>
      <p>
        A real time saver, no need to write all your property names & types.
      </p>
      <p class="mt-3">
        Data submitted into the app is not stored.
      </p>
    </div>
  </div>
</div>
<notifier-container></notifier-container>